body {
  /* background-color: purple; */
}



/* .feedpost-name {
  background-color: indianred;
  margin-top: 0.75rem;
} */

/* @media (min-width: 1000px) {
  .feedpost-name {
    margin-top: 1.5vmin;
  }
} */

/* #feedpost-box {
  color: white;
} */

/* #feedpost-btns {
  background-color: ghostwhite;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
} */

/* .register-form {
  max-width: 500px;
  margin: 0 auto;
  float: none;
  margin-bottom: 0;
} */
